<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Exchange.WebServices.SQLIS" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.mshtml.SHA2.DPG" version="7.0.3300.0" targetFramework="net472" />
  <package id="Newtonsoft.Json.signed" version="6.0.8" targetFramework="net472" />
</packages>