<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="Microsoft.Data.Mashup.SqlClient" invariant="Microsoft.Data.Mashup.SqlClient" description="Microsoft.Data.SqlClient Data Provider for Mashup Engine" type="Microsoft.Data.Mashup.SqlClient.SqlProviderFactory, Microsoft.Data.Mashup.SqlClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </DbProviderFactories>
  </system.data>
</configuration>